/* h1{
    padding:30px;
} */
table{
  max-width: 60%;
  margin-left: 20%;
  padding: 10px;
}
div.table{
  /* position: fixed; */
  top:15%;
}
h1.text-center{
  color: black;
  padding-bottom: 30px;
}